html {
    box-sizing: border-box;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: #F3EBFE;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.container {
    background-color: #fff;
    width: 430px;
    padding: 30px 30px 30px 50px;
    border-radius: 20px;

    box-shadow: 5px 8px 20px #cac6c6;
}

.card-top {
    /* border: 1px solid pink; */
    display: flex;
    justify-content: space-between;
}

.card-title {
    color: #39355C;
    font-size: 20px;
    align-self: flex-end;
}

.btn-close {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
}

.card-mid {
    /* box model view of element */
    /* border: 1px solid green; */
    
    display: flex;

    /* space the items */
    gap: 15px;  
}

.card-icon {
    background-color: #CA8CFA;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    
    /* center bell icon */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    align-self: center;
}

.card-bottom {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn {
    background-color: transparent;
    padding: 8px 15px;
    border-radius: 6px;
}

.btn-block {
    color: red;
    border: 1px solid red;
}

.btn-allow {
    color: green;
    border: 1px solid green;
}

